<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Butter Naan</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="/css/main1.css" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="back-nav">
    
      <div class="btn-class" >
        <a href="\recipes.html" class="btn btn-123"> 
          <h2>Back</h2>
        </a>
      </div>
    
  </nav>
  <!-- Nav ebds  -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="\assets\recipes\butter_naan.jpg"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>Butter Naan</h2>
            <p>
                 This Butter Naan, or for that matter any other naan and rich North Indian gravies always make a great pair. So, on days when I don’t make the usual chapati or roti at home, I end up making naans. These are easy to make, light and soft Indian flatbreads.

These flatbreads are always made with all-purpose flour. But the same soft texture can be achieved with whole wheat flour (atta) too.

I have used the regular chapati atta for making this recipe, but you can opt to make them with only all-purpose flour. Other ingredients that go in this recipe are sugar, instant yeast and curd (yogurt).

Generally, Butter Naan that is served in restaurants is only slathered with butter after it gets cooked. However, I always add some butter in the dough and then spread some butter on the top as well, while serving.

As I mentioned earlier, this Butter Naan is essentially cooked in a tandoor or clay oven in restaurants. But at home, you can cook them in an oven or on a tawa or skillet.
          </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>30 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>120 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>1 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Category : <a href="tag-template.html">main1 Course</a>
              <!-- <a href="tag-template.html">breakfast</a>
              <a href="tag-template.html">pancakes</a>
              <a href="tag-template.html">food</a> -->
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1: Making Buttery Dough</p>
                <div></div>
              </header>
              <p>
  'In a bowl, take the instant yeast, sugar. Add water and stir the mixture to dissolve the sugar and yeast granules.',
  'Then add 1 cup whole wheat flour and stir or whisk it with the rest of the yeast mixture.',
  'Cover and keep aside to leaven for 40 to 45 minutes.',
  'Then add the remain1ing whole wheat flour, salt, softened butter and curd/yogurt. Knead to a soft, pliable and smooth dough.',
  'If the dough become sticky, add a few tablespoons of flour and knead again. If its dry, then add some more water.',
  'Cover the naan dough and keep aside for 25 to 30 minutes.',
  'Divide the dough into medium balls.',
  'Give a resting time for the dough balls for about 15 to 20 minutes.
   Cover and keep aside.',
  'Assembling and Rolling',
  'Lightly dust the dough balls with some flour.',
  'You can also sprinkle some sesame seeds or nigella seeds on the dough ball and then roll it.',
  'Roll into a small to medium sized rounds of medium thickness.',
  'Cooking butter naan',
  'Place the rolled flat bread on a hot tawa or flat skillet. Keep the heat to medium-high to high.',
  'When the bottom is partly cooked, flip. You will see many air pockets on the naan.',
  'When the second side is half cooked, remove the naan with a pair of tongs and place the side which was cooked first facing the fire.',
  "The naan may puff up. Flip and brown the second side also. Ensure the naan is cooked well but don't over roast it.",
  'Place the hot naan in a roti basket or casserole. Spread some softened butter on top.',
  'Make all butter naans this way in batches. If not serving straight away, then stack them in the roti basket.',
  'Or else you can serve Butter Naan immediately.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2:Assembling and Rolling </p>
                <div></div>
              </header>
              <p>
                 'Lightly dust the dough balls with some flour.',
  'You can also sprinkle some sesame seeds or nigella seeds on the dough ball and then roll it.',
  'Roll into a small to medium sized rounds of medium thickness.',
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3:Cooking butter naan</p>
                <div></div>
              </header>
              <p>
                'Place the rolled flat bread on a hot tawa or flat skillet. Keep the heat to medium-high to high.',
  'When the bottom is partly cooked, flip. You will see many air pockets on the naan.',
  'When the second side is half cooked, remove the naan with a pair of tongs and place the side which was cooked first facing the fire.',
  "The naan may puff up. Flip and brown the second side also. Ensure the naan is cooked well but don't over roast it.",
  'Place the hot naan in a roti basket or casserole. Spread some softened butter on top.',
  'Make all butter naans this way in batches. If not serving straight away, then stack them in the roti basket.',
  'Or else you can serve Butter Naan immediately.
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
             <div>
              <h4>ingredients</h4>
              <p>1. 3 cups whole wheat flour ((atta)) </p>
              <p>2.  1 tablespoon sugar </p>
              <p>3.  1 cup water (or as required) </p> 
              <p>4.  3 to 4 tablespoon Curd ((yogurt)) </p>
              <p>5.  2 tablespoons Butter (- softened, unsalted or salted) </p>
              <p>6.  ¾ teaspoon salt (or as required) </p>
              <p>7.  Butter (- softened or melted, as required, for brushing on the naan, unsalted or salted) </p>
            </div>
            </div>
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">SimplyRecipes</span> Built by
        <a href="https://www.johnsmilga.com/">Coding Addict</a>
      </p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
