<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chapati</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/normalize.css')}}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/main1.css')}}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="back-nav">
    
      <div class="btn-class" >
        <a href="{{url_for('home')}}" class="btn btn-123"> 
          <h2>Back</h2>
        </a>
      </div>
    
  </nav>
  <!-- Nav ebds  -->
    <!-- end of nav -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="{{ url_for('static', filename='images/assets/recipes/chapati.jpg')}}"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>Chapati </h2>
            <p>
                Masala tea is a favorite Indian beverage. Many Indians enjoy tea in the morning or during the evening. 
                The Hindi names ‘Masala’ here refers to spices and “Chai” means tea.
                Masala tea is made by brewing tea in water together with the spices, sugar and a touch of milk added later.

In India, it is common to add a variety of herbs and spices to the everyday tea or chai that we make. The types of herbs and spices used vary from family to family.

In fact, many families tend to have their own </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>20 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>10 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>1 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Category : <a href="#">Breakfast</a>
              <!-- <a href="tag-template.html">breakfast</a>
              <a href="tag-template.html">pancakes</a>
              <a href="tag-template.html">food</a> -->
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1: Crush The Masala (Spices)</p>
                <div></div>
              </header>
              <p>
           1. Transfer the rolled chapati dough on a hot tawa or skillet.

rolled roti on hot tawa
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2</p>
                <div></div>
              </header>
              <p>
                  2. Cook for about 30 seconds or so until you see some air pockets all over. Note that the timing will change or vary with the kind of skillet you are using, the chapati thickness and the intensity of the flame.

air pockets on roti on tawa
3. Flip the chapati and spread some oil all over while the second side is getting roasted. Cook the second side for about 45 seconds to 1 minute.

              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3:Brew Masala Tea </p>
                <div></div>
              </header>
              <p>
              5. Spread some oil on this cooked side meanwhile the first side is getting roasted again. Roast the first side again for about 20 to 30 seconds.


oil being spread on this side of chapati
6. Press the edges with a spatula while cooking the second side of the chapati.

pressing edges of chapati with spatula
7. Below photo is of the cooked chapati. Make chapati with the rest of the dough in this manner and store them in a chapati container or box.

Chapati is roasted this way with oil or ghee tastes different and more like parathas, than the fire-roasted phulka or roti puffed on tawa. 
Everyone has a different preference. So make what you and your family like.
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
             <div>
              <h4>ingredients</h4>
              <p>1. 3 cups whole wheat flour (or atta - 360 grams) </p>
              <p>2.  1 to 1.25 cups water (or add more if needed) </p>
              <p>3.  1 teaspoon salt (- optional) </p> 
              <p>4.  1 to 2 tablespoons oil (or ghee (clarified butter) - optional) </p>
            </div>
            </div>
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">FoodToRecipe</span> Built by
        <a href="https://www.linkedin.com/in/mitesh-rege/">Mitesh Rege</a>
      </p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/js/app.js')}}"></script>
  </body>
</html>
