<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chole Bhature</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/normalize.css')}}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/main1.css')}}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="back-nav">
    
      <div class="btn-class" >
        <a href="{{url_for('home')}}" class="btn btn-123"> 
          <h2>Back</h2>
        </a>
      </div>
    
  </nav>
  <!-- Nav ebds  -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="{{ url_for('static', filename='images/assets/recipes/chole_bhature.jpg')}}"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>Chole Bhature</h2>
            <p>
                Chana Bhatura is a spicy, tasty and a filling dish. I have eaten this dish at many places in Punjab and Delhi. Each restaurants or dhaba (eateries on highways) have their own flavors and taste in the chickpea curry.

In some places the curry is very spicy, at other places it has tangy taste and the consistency of the curry also varies from slightly thick to semi-dry and dry.


This recipe has spicy flavors. This is my mom’s recipe and unlike other versions of chana curry recipes posted on the blog, this one has a comforting taste and flavor. It does not taste like the restaurant or dhaba versions but taste very good.

Even the bhature size and flavor varies from restaurants to restaurants. The bhature ideally should be less oily and should puff fully. They should also be eaten hot and fresh. If you parcel the bhature from a restaurant then you won’t get the real taste as they become limp and chewy.

I usually make the Bhatura Recipe that is already posted on the blog and it works for me every-time together with this quick bhatura vesion that I have shared below.

As a side with the dish serve sliced onions, green chilies and lemon wedges. This a very filling dish and you might feel like having a short nap after eating it. Ideal for weekends or holiday time. </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>50 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>120 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>4 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Category : <a href="#">breakfast,brunch</a>
              <!-- <a href="tag-template.html">breakfast</a>
              <a href="tag-template.html">pancakes</a>
              <a href="tag-template.html">food</a> -->
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1: Soak and Pressure Cook Chickpeas</p>
                <div></div>
              </header>
              <p>
          
1. First rinse 1 cup white chickpeas a couple of times in water. Then soak them in enough water overnight or for 7 to 8 hours.

soaking dried chickpeas in water

2. Next day they will double in size.

soaked chickpeas
3. Then drain the water.

drained and soaked chickpeas in a colander

4. In a 3 litre pressure cooker add the chickpeas. Also add 3 cups water and ¼ teaspoon salt. I have used a pressure cooker but you can also use a pot or pan.

The chickpeas will take a lesser time to cook in the pressure cooker than cooking them in a pot.

You can also add a pinch or two of baking soda while cooking them. Addition of baking soda is optional.

chickpeas, salt and water being added in a pressure cooker
5. Pressure cook chickpeas for 10 to 12 whistles or for about 15 to 20 minutes or till they are tender and cooked well.

Once the pressure settles down on its own then open the lid of pressure cooker and check if the chickpeas are cooked well or not. It is important to cook them till they are soft and have a melt in the mouth texture.

If cooking them in a pan then it can take about an hour or more. Just ensure they are well cooked. Timing to cook chickpeas will depend upon their quality and age.


              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2 cooked chickpeas</p>
                <div></div>
              </header>
              <p>
                  6. Once done then drain all the water and keep the cooked chickpeas aside.

drained cooked chickpeas in a colander
Make Onion Tomato Masala
7.  chop 1 medium-sized onion, 2 medium-sized tomatoes, 1 green chili, 4 to 5 medium-sized garlic cloves and 1 inch ginger.

prepped up ingredients in white bowls - chopped onions, tomatoes, green chillies, garlic and ginger

8. Add them to a blender jar.

added onions, tomatoes, green chillies, ginger, garlic in a blender
9. Make a fine paste in a grinder or blender. No need to add water while making the paste as the juice of the tomatoes will help in making the paste. keep the jar aside.

blended to a fine paste
Make Chana Curry
11. Measure and keep all the ingredients ready for making the gravy.


spices and other ingredients kept in individual white bowls. 
12. Heat 2 to 3 tablespoons oil in a pan or kadai/wok.

heating oil in a wok or pan
13. Add the following whole garam masala (spices):

1 teaspoon cumin seeds
1 large tej patta (Indian bay leaf)
2 inches cinnamon
2 to 3 cloves
2 green cardamoms
2 to 3 black peppercorns
adding whole spices in hot oil. 
14. On low heat fry the whole spices till they are fragrant but don’t burn them.

frying spices in the hot oil.

15. Next add the ground onion-tomato paste.

adding the ground onion, tomato, green chilli, ginger, garlic paste
16. Mix well.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3: sautéing the ground paste </p>
                <div></div>
              </header>
              <p>
 17. Keep stirring often. Sauté for 8 to 10 minutes or more till the oil starts to leave the sides of the masala paste. The paste will also thicken and become glossy. 

sautéing the ground paste
18. Stir while sautéing so that the paste does not stick to the pan.

continuing sautéing and cooking the paste
19. Then add all the dry spice powders listed below:

½ teaspoon turmeric powder
¼ teaspoon red chili powder

1 teaspoon coriander powder
1 pinch asafoetida (hing)
½ or 1 teaspoon dry mango powder (amchur powder)
dry ground spice powders added to the sautéed and cooked paste
20. Mix the spice powders very well and sauté for a minute or two.

mixing spice powders with the paste
21. Then add the cooked chickpeas.

cooked chickpeas added
22. Mix well.

chickpeas mixed very well
23. Pour 1 to 1.5 cups water or add as required. Addition of water depends upon the consistency you want. But don’t add too much water as then the flavors will get diluted.

water being poured in the pan

24. Add salt as required and stir again.

salt being added
25. Simmer the gravy on a low to medium flame for 12 to 15 minutes or till the gravy thickens.

gravy being simmered
26. Don’t cover the pan. Stir occasionally. Mash some chickpeas with the back of a spoon. This helps in thickening the gravy.

chickpea gravy being simmered
27. Add 1 slit green chili and 1 teaspoon garam masala powder or chole masala powder.

slit green chillies and garam masala powder added to the gravy
28. Stir and simmer the gravy for a minute or two. You can keep the consistency from medium to slightly thick to semi dry or dry. If you want a dry consistency then simmer for some more time.


gravy being simmered further
29. Check the seasoning and add more salt or spice powders if required. Garnish with coriander leaves. You can also garnish with some slit green chilies and ginger julienne.

chopped coriander leaves (cilantro) added
30. Serve chickpea curry with onion slices, lemon wedges along with bhatura. Enjoy the curry with bhatura. You can also serve this delicious curry with naan or aloo paratha or plain paratha or kulcha or tandoori roti.

              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
             <div>
              <h4>ingredients</h4>
              <p>1. 1 cup dried white chickpeas 
              ((3 cups of canned chickpeas can also be used)) </p>
              <p>2. water (- as required for soaking) </p>
              <p>3. ¼ teaspoon salt </p>
              <p>4. 3 cups water (- for pressure cooking) </p>
              <p>5. 1 to 2 pinches baking soda (- optional) </p>
              <p>6. 2 to 3 tablespoon oil (or ghee) </p>
              <p>7. ½ teaspoon turmeric powder </p>
              <p>8. ¼ teaspoon red chilli powder'</p>
              <p>9. 1 teaspoon Coriander Powder' </p>
              <p>10. 1 pinch asafoetida (hing) (- optional) </p>
              <p>11. ½ or 1 teaspoon dry mango powder ((amchur powder))</p>
              <p>12. 1 to 1.5 cups water (- to be added later) ,salt (as required)</p>
              <p>13. 1 green chilli (- slit) </p>
              <p>14. 1 teaspoon Garam Masala (or chole masala) </p>
              <p>15. 1 teaspoon cumin seeds </p>
              <p>16. 1 tej patta ((Indian bay leaf), large-sized) </p>
              <p>17. 2 inches cinnamon </p>
              <p>18. 2 to 3 cloves,2 green cardamom,2 to 3 black peppercorns</p>
              <p>19. 1 onion (- chopped, medium-sized ) </p>
              <p>20. 2 tomatoes (- chopped, medium-sized ) </p>
              <p>21. 1 inch ginger (- peeled and chopped) </p>
  <p>22. 4 to 5 garlic cloves (- peeled and chopped, medium-sized )',
  '1 green chili (- chopped)',
  '1.5 cups all-purpose flour ((maida))</p>
  <p>23. '⅓ cup sooji ((rava or fine semolina), finer textured)',
  '½ tablespoon oil (or ghee)',
  '½ tablespoon sugar (- fine granulated)',
  '½ teaspoon salt ( or as required)',</p>
  <p>23. '¼ teaspoon baking soda',
  '¼ teaspoon baking powder',
  '½ cup Curd ((yogurt))',
  '2 to 3 tablespoons water (or add as required, for kneading)',
  'oil (- for deep frying as required) </p>
            </div>
            </div>
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">FoodToRecipe</span> Built by
        <a href="https://www.linkedin.com/in/mitesh-rege/">Mitesh Rege</a>
      </p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/js/app.js')}}"></script>
  </body>
</html>
