<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dal Makhni</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/normalize.css')}}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/main1.css')}}" />
  </head>
  <body>
      <nav class="back-nav">
      
        <div class="btn-class" >
          <a href="{{url_for('home')}}" class="btn btn-123"> 
            <h2>Back</h2>
          </a>
        </div>
      
    </nav>
    <!-- Nav ebds  -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="{{ url_for('static', filename='images/assets/recipes/dal_makhani.jpg')}}"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>Dal Makhni</h2>
            <p>
              Dal Tadka is a popular Indian lentil dish made with arhar dal (husked & split pigeon pea lentils) or masoor dal (husked & split red lentils). 
              This Dal Tadka recipe gives you a delicious creamy dal with smoked flavors.
            </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>10 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>20 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>4 servings</p>
              </article>
            </div>
            <p class="recipe-Category">
              Tags : <a href="#">main1course</a>
            
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1</p>
                <div></div>
              </header>
              <p>
                Rinse 1 cup tuvar dal or arhar dal (split & husked pigeon pea lentils) for a couple of times in water. 
                  Add them to a 3 litre pressure cooker.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2</p>
                <div></div>
              </header>
              <p>
                 Add ½ cup chopped onions, 1 cup finely chopped tomatoes, 1 or 2 green chilies (1 teaspoon of chopped Anaheim pepper 
                or Serrano pepper can be subbed for green chillies) and 1 teaspoon finely chopped ginger.
              </p>
              <p>
                 Pour 2.5 cups of water. If cooking in a pot, then about 4 to 4.5 cups of water can be added.
              </p>
              <p>
                Add ½ turmeric powder and 1 pinch of asafoetida (hing). If you do not have asafoetida, then skip it.
              </p>
              <p>
                Mix well.
              </p>
              <p>
                Pressure cook the lentils for about 7 to 8 whistles or more till they become soft and creamy.
                 Mash the cooked lentils with a wired whisk or with a spoon and keep aside.
              </p>
            </div>
            <div class="single-instruction">
              <header>
                <p>step 3</p>
                <div></div>
              </header>
              <p>
                Once the desired consistency is reached, add 1 to 2 tablespoons low-fat cream (optional), ½ teaspoon garam masala powder, 
                2 tablespoons chopped coriander leaves (cilantro) and salt as per paste. Switch off the the heat.
              </p>
              <p>
                Mix well so that everything combines uniformly. Check the salt before you add the tempering. If the salt is less than add more salt to the dal.

              </p>
              <p>
                With a spoon lightly mash the dal. If the dal looks thick, you can add some hot water.
              </p>
              <p>
                Season with salt as per taste and stir very well. Cover the cooked dal with the IP lid and begin with the tempering
              </p>
              <p>

              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
    
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>ingredients</h4>
              <p class="single-ingredient">½ cup arhar dal or 100 grams arhar dal (tuvar dal or split pigeon pea lentils)</p>
              <p class="single-ingredient">⅓ cup chopped onions or 1 small medium-sized onion or 50 grams onion – chopped or sliced</p>
              <p class="single-ingredient">⅓ cup chopped tomatoes or 1 medium-sized tomato or 65 grams tomatoes – chopped</p>
              <p class="single-ingredient">1 to 2 green chillis or serrano peppers – sliced, slit or chopped</p>
              <p class="single-ingredient">¼ teaspoon turmeric powder (ground turmeric)</p>
              <p class="single-ingredient">½ teaspoon kashmiri red chilli powder or ¼ teaspoon cayenne pepper or paprika</p>
              <p class="single-ingredient">1 pinch asafoetida (hing) – optional</p>
              <p class="single-ingredient">1.5 cups water</p>
              <p class="single-ingredient">salt as required</p>
              <p class="single-ingredient">2 tablespoons chopped coriander leaves (cilantro) – for garnishr</p>
          
            </div>
          
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">FoodToRecipe</span> Built by
        <a href="https://www.linkedin.com/in/mitesh-rege/">Mitesh Rege</a>
      </p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/js/app.js')}}"></script>
  </body>
</html>
