<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dhokla</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="/css/main1.css" />
  </head>
  <body>
    <nav class="back-nav">
    
      <div class="btn-class" >
        <a href="\recipes.html" class="btn btn-123"> 
          <h2>Back</h2>
        </a>
      </div>
    
  </nav>
  <!-- Nav ebds  -->
  <!-- Nav ebds  -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="\assets\recipes\dhokla.jpg"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>Dhokla</h2>
            <p>
              This Khaman Dhokla recipe makes a wonderfully soft and fluffy, lightly sweet and savory cake that’s perfect to enjoy anytime of the day. 
              It’s easy to prepare Khaman recipe steamed on the stovetop or even in the Instant Pot
            </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>5 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>15 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>4 servings</p>
              </article>
            </div>
            <p class="recipe-Category">
              Tags : <a href="tag-template.html">Breakfast,Snacks</a>
            
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1</p>
                <div></div>
              </header>
              <p>
                Grease a steamer pan with 2 to 3 teaspoons oil.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2</p>
                <div></div>
              </header>
              <p>
                Take 1.5 cups gram flour (120 grams besan) in a mixing bowl or pan. Do use gram flour which has a fine texture.
              </p>
              <p>
                 Pour 2.5 cups of water. If cooking in a pot, then about 4 to 4.5 cups of water can be added.
              </p>
              <p>
                The add the following ingredients:

                2 to 3 pinches of turmeric powder
                a generous pinch of asafoetida (skip to make a gluten-free version)
                1.5 tablespoons lemon or lime juice or ⅓ to ½ teaspoon pure citric acid
                1.5 teaspoons ginger paste (crush 1.5 inch ginger and 1.5 teaspoons green chilies in a mortar-pestle)
                1.5 teaspoons green chili paste
                1 tablespoon sugar or add according to taste
                1 teaspoon salt or add as per taste
                
              </p>
              <p>
                Add 1 cup water (or more or less as needed) and 1 tablespoon oil to make a thick yet smooth flowing batter. The amount of water 
                needed depends on the quality of flour, so start with 1 cup and add as required. Stir well to combine.
              </p>
              <p>
                Then add 1 tablespoon rava (semolina). This is entirely 
                optional but adds a good texture to the khaman. Skip rava or semolina for a gluten-free option.
              </p>
            </div>
            <div class="single-instruction">
              <header>
                <p>step 3</p>
                <div></div>
              </header>
              <p>
                Stir with a whisk to create a smooth, thick batter without any lumps.
              <p>
                The batter should be thick yet flow easily off of the whisk. A quick tip is that if the batter becomes thin, then 1 to 2 tablespoons of gram flour.

                Next bring 2 to 2.5 cups of water to a boil in a steamer pan or electric cooker or pressure cooker. The amount of water to be added depends on the size of the steamer or pressure cooker.
              </p>
              <p>
                Next add 2 teaspoons Eno or fruit salt. 2 teaspoons of Eno makes the khaman soft and fluffy. But there is a slightly alkaline taste to Eno.

                If you’re not a fan of this flavor then add only 1.5 teaspoons of Eno. If using baking soda as your leavening agent add ½ teaspoon to ¾ teaspoon.
              </p>
              <p>
                Pour the prepared batter into the greased pan.
              </p>
              <p>
                Place the pan in a steamer or electric rice cooker or pressure cooker. The water should already be boiling or hot when you place the pan with the khaman batter. When using a pressure cooker, 
                remove the vent weight/whistle from the lid and cover the cooker tightly with its lid.
              </p>
              <p>
                Steam for 15 to 20 minutes in an electric rice cooker. If using a pan or pressure cooker or Instant Pot, steam for 12 to 15 minutes on a medium to medium-high heat.
                 In the below photo the khaman is cooked for 17 minutes using an electric rice cooker.
              </p>
              <p>
                Use a sharp knife to slice the khaman in squares and set aside until ready to temper. Since I used a concave plate, the khaman settled down in the center. This won’t happen if you use a flat plate.


              </p>
              <p>
                Tempering is essential to infuse the khaman with flavor and add moisture to the gram flour sponge. To make the temper, first heat 2 tablespoons of oil in a small pan on the stove. Use peanut oil or any neutral-tasting oil.
              </p>
              <p>
                Add 1 teaspoon of mustard seeds and allow them to crackle.
              </p>
              <p>
                When the mustard seeds are crackling, add 10 to 12 curry leaves, and, if you like, 1 teaspoon of cumin seeds and 1 teaspoon of chopped green chili.

              </p>
              <p>
                Fry the sesame seeds for some seconds. But don’t brown them or they’ll become bitter.
              </p>
              <p>
                Next carefully add ⅓ cup of water. You can switch off the heat when adding water.
              </p>
              <p>
                Then add 2 teaspoons of sugar.

              </p>
              <p>
                Remove from the heat and immediately pour this tempering mixture evenly on the khaman dhokla so that it seeps through the sliced edges.
              </p>
              <p>
                Garnish with 2 to 3 tablespoons of chopped coriander leaves and 2 to 3 tablespoons grated coconut, if you like.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
    
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>ingredients</h4>
              <p class="single-ingredient">1.5 cups gram flour (besan), 180 grams</p>
              <p class="single-ingredient">1 tablespoon rava (or semolina) – optional</p>
              <p class="single-ingredient">1 tablespoon sugar</p>
              <p class="single-ingredient">1.5 inch ginger crushed to a fine paste in a mortar-pestle</p>
              <p class="single-ingredient">1.5 teaspoons chopped green chillies crushed to a fine paste in a mortar-pestle</p>
              <p class="single-ingredient">2 to 3 pinches turmeric powder</p>
              <p class="single-ingredient">1 pinch asafoetida (hing) – optional</p>
              <p class="single-ingredient">1 to 2 pinch asafoetida (hing)</p>
              <p class="single-ingredient">1.5 to 2 teaspoons eno (fruit salt) or ½ to ¾ teaspoon baking soda</p>
              <p class="single-ingredient">1 tablespoon oil – any neutral oil or peanut oil</p>
              <p class="single-ingredient">1.5 to 2 teaspoons eno (fruit salt) or ½ to ¾ teaspoon baking soda</p>
              <p class="single-ingredient">1 teaspoon salt or as required</p>
              <p class="single-ingredient">1.5 tablespoon lemon juice or ⅓ to ½ teaspoon pure food grade citric acid</p>
              <p class="single-ingredient">1 cup water or add as required</p>
              <p class="single-ingredient">2 tablespoons oil – any neutral oil or peanut oil</p>
              <p class="single-ingredient">⅓ cup water</p>
              <p class="single-ingredient">1 teaspoon salt or as required</p>
              <p class="single-ingredient">1 teaspoon cumin seeds – optional</p>
              <p class="single-ingredient">2 teaspoons white sesame seeds</p>
              <p class="single-ingredient">1 sprig curry leaves – about 10 to 12 curry leaves</p>
              <p class="single-ingredient">1 teaspoon chopped green chilies (optional)</p>
              <p class="single-ingredient">▢2 teaspoons sugar or add as required</p>

            </div>
          
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">SimplyRecipes</span> Built by
        <a href="https://www.johnsmilga.com/">Coding Addict</a>
      </p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
