<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masala Chai</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <!-- normalize -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/normalize.css')}}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/main1.css')}}" />
  </head>
  <body>
  <nav class="back-nav">
    
      <div class="btn-class" >
        <a href="{{url_for('home')}}" class="btn btn-123"> 
          <h2>Back</h2>
        </a>
      </div>
    
  </nav>
  <!-- Nav ebds  -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
          src="{{ url_for('static', filename='images/assets/recipes/chai.jpg')}}"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>Masala Chai</h2>
            <p>
                Masala tea is a favorite Indian beverage. Many Indians enjoy tea in the morning or during the evening. 
                The Hindi names ‘Masala’ here refers to spices and “Chai” means tea.
                Masala tea is made by brewing tea in water together with the spices, sugar and a touch of milk added later.

In India, it is common to add a variety of herbs and spices to the everyday tea or chai that we make. The types of herbs and spices used vary from family to family.

In fact, many families tend to have their own version of Masala chai. This recipe shows how to make Masala chai without using the premade Masala Tea Powder.
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>2 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>8 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>2 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Category : <a href="#">Breakfast</a>
              <!-- <a href="tag-template.html">breakfast</a>
              <a href="tag-template.html">pancakes</a>
              <a href="tag-template.html">food</a> -->
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1: Crush The Masala (Spices)</p>
                <div></div>
              </header>
              <p>Add 1 inch cinnamon, 2 to 3 green cardamoms, 2 cloves and 1-inch peeled ginger to a mortar-pestle.
               Use true cinnamon and not cassia cinnamon.
               Crush coarsely with the pestle and set aside. But make sure that the ginger is flattened and crushed well.
                Alternatively choose to grate the ginger and add the spices whole or crushed.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2:Simmer Spices </p>
                <div></div>
              </header>
              <p>
                  Using a saucepan or small pan with a handle, heat 2 cups of water (500 ml).
Water in a pan

 Let the water come to a boil and add the crushed spices. If required, add a generous pinch of nutmeg powder to the spices. Either mint leaves or lemongrass can also be added at this step.

Spices boiling in water. Boil for 2 to 3 minutes. Add sugar to taste. I usually add 4 teaspoons of raw sugar. Some people prefer a very sweet tea. So you can increase the amount of sugar according to your taste preferences and also on the type and quality of sugar you are using.
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 3:Brew Masala Tea </p>
                <div></div>
              </header>
              <p>
Now add 2 teaspoons of Assam tea powder or tea dust. Boil for 1 minute. This boiling time depends on how strong you want your tea. If you prefer a deeper and stronger brew, then simmer for a few more minutes. But this can make the tea have some bitter notes.

Note that if you use tea leaves then instead of boiling you have to steep the tea. For steeping boil the water together with spices. Switch off the heat. Add the tea leaves. Stir to mix and cover with lid.

Steep the tea for 2 to 4 minutes depend upon the strength and concentration of the tea you prefer. Then add hot milk to the steeped tea. Mix, strain and serve.

Assam tea being added with a teaspoon
Add ¼ cup of milk (at room temperature or cold). You may add more milk if required.

For a vegan chai, soy or almond milk or cashew milk may also be used. If using soy milk, add to the tea mixture and simmer for 2 to 3 minutes.

If using almond milk or cashew milk or oats milk, then heat separately in another small saucepan. Add to the tea and switch off the heat. Stir to mix. Do not let the almond or cashew milk come to a boil otherwise, the tea will have a grainy texture.

Masala tea with milk in a pan. After adding milk boil for 2 to 3 minutes. If using chilled milk, boil for 2 to 3 minutes. If using hot milk, then add the milk and switch off the heat.

Masala chai with milk simmering

 Pour the masala tea through a tea strainer directly into a cup.

Masala tea being strained into a cup
Serve Masala chai steaming hot with Indian snacks of your choice such as aloo pakora, veg cutlet, samosa, aloo tikki, onion pakoda, bread pakora, medu vada, biscuits or cookies.

overhead shot of masala teain a white cup on brown board
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
             <div>
              <h4>ingredients</h4>
              <p>1. 2 cups water </p>
              <p>2.  4 teaspoons raw sugar (or add as per taste) </p>
              <p>3.  2 teaspoons black tea (- granules or tea leaves, preferably Assam CTC tea) </p> 
              <p>4.  ¼ cup milk (or add as per taste) </p>
              <p>5.  1 inch cinnamon (- true cinnamon and not cassia cinnamon ) </p>
              <p>6.  2 to 3 green cardamoms </p>
              <p>7.  2 cloves </p>
              <p>7.  1 inch ginger </p>
            </div>
            </div>
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">FoodToRecipe</span> Built by
        <a href="https://www.linkedin.com/in/mitesh-rege/">Mitesh Rege</a>
      </p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/js/app.js')}}"></script>
  </body>
</html>
