<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <!-- normalize -->
    <!-- <link rel="stylesheet" href="/Major_proj_frontend/css/main1.css" /> -->
    <!-- static\css\css1\main1.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/main1.css')}}" />

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <!-- <link rel="stylesheet" href="/css/main1.css" /> -->
    <!-- static\css\css1\main1.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css1/main1.css')}}" />

    <!-- footer css -->

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}"> -->
    <!-- <link rel="stylesheet" href="./globalStyles.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/globalStyles.css')}}"> -->
     <!-- <link rel="stylesheet" href="./components.css"> -> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css')}}"> -->
    <!-- aos library css  -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <!-- Add your custom css -->
    <!-- <link rel="stylesheet" href="./home.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}"> -->
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
    <!-- custom script -->
    <!-- <script src="./main.js"></script> -->
    <!-- static\scripts\main.js -->
    <!-- <script src="{{ url_for('static', filename='scripts/main.js')}}"></script> -->


  </head>
  <body>
    <nav class="back-nav">
    
      <div class="btn-class" >
        <!-- <a href="\recipes.html" class="btn btn-123">  -->
          <a href="{{url_for('home')}}" class="btn btn-123">
          <h2 class="btn-back">Back</h2>
          </a>
        </a>
      </div>
    
  </nav>
  <!-- Nav ebds  -->
    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <!-- <img src="\assets\recipes\pizza.jpg" class="img recipe-hero-img" /> -->
          <!-- static\images\assets\recipes\pizza.jpg -->
          <img src="{{ url_for('static', filename='images/assets/recipes/pizza.jpg')}}" class="img recipe-hero-img" />
          <article class="recipe-info">
            <h2>Pizza</h2>
            <p>
            this recipe includes instructions for how to create a chewy crust that’s lightly crisp on the bottom using all-purpose flour or bread flour. It makes a dough that is far better (and cheaper!) than any store bought dough or restaurant pizza I have tried.


Even the tomato sauce is made from scratch! It’s wonderfully simple and flavorful, and is the perfect base for layering on lots of cheese and your choice of toppings.

sliced pizza with the remain1ing pizza on a wooden pizza plate sprinkled with some dried herbs and red chilli flakes

Not only is this homemade pizza recipe wholesome to make with no artificial ingredients, you don’t need any special kitchen equipment either.

The best pizzas are made in a very hot wooden fired oven and over a pizza stone. Of course our kitchen ovens cannot be compared with the hot commercial ovens. When making a homemade pizza, I suggest to use the highest temperature in your oven.

My family loves pizza. So I make it pretty often and am now a pro at it. I bake pizza using a pizza stone and also a baking tray or pan. Let me tell you that a pizza stone make a real difference to the texture of the crust.

I hear you! I know that every kitchen does not have a pizza stone. So I have kept this recipe simple enough where you do not need a pizza stone. Just use a metal pan or tray and you will get a crisp crust if you follow my outlined steps below.

I make pizza dough with both unbleached bread flour and unbleached all purpose flour. Bread flour having more gluten helps to have a chewy crispy crust. The texture of the pizza crust made with bread flour is so good.
 </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>30 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>60 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>3 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Category : 
              <!-- <a href="tag-template.html">main1 course</a> -->
              <a href="#">main1 course</a>
              <!-- <a href="tag-template.html">breakfast</a>
              <a href="tag-template.html">pancakes</a>
              <a href="tag-template.html">food</a> -->
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1: Making pizza dough</p>
                <div></div>
              </header>
              <p>
          
1. First, in a large bowl mix together 1.5 teaspoons instant yeast and ½ teaspoon of sugar.

Usually instant yeast can be mixed directly in the flour or in water at room temperature. But I am detailing this method as it can be implemented if you are using dry active yeast. Add 2 teaspoons dry active yeast for this pizza crust recipe.

instant yeast and sugar in a large steel mixing bowl

2. Add 1 cup of lukewarm water (44 degrees Celsius) and stir. Set aside and let the yeast activate.

TIP: The water has to be lukewarm and not hot or cold. Hot water will kill the yeast and cooler water won’t activate the dry active yeast.

warm water added and mixed with a steel spoon
3. You should start to see the yeast mixture bubbling up and doubling in size after about 10 to 15 minutes.

yeast mixture bubbled and frothed
4. Combine 1 cup of unbleached all purpose flour (or bread flour) with 1 teaspoon of salt and 3 tablespoons of olive oil.

flour, olive oil and salt aded for making pizza dough
5. Stir with a whisk or wooden spoon or steel spoon.

flour, olive oil and salt mixed with the yeast mixture with a steel spoon

6. Add one more cup of the flour.

more flour added to make pizza crust
7. Keep on stirring. The mixture will be quite sticky, like in the photo below.

sticky mixture after mixing flour
8. Add the last cup of flour and continue to stir. The dough will start to form and leave the sides of the bowl, but will still be sticky.

more flour added and mixed
9. Now it’s time to knead the dough by hand until it forms a smooth dough. Dust with flour to prevent sticking as you work. The dough will be soft and elastic, and no longer sticky.

TIP: If the dough becomes sticky, sprinkle some flour and knead. If the dough looks dry and not smooth, sprinkle a bit of water and knead.

pizza dough kneaded very well

10. Keep your dough in the deep bowl, and lightly apply a bit of olive oil all around the outside of the dough. This will keep it from sticking to the sides of the bowl once the dough proves and grows.

Cover loosely with a kitchen napkin or towel, and let rest at room temperature for the dough to leaven:

45 minutes to 1 hour for instant yeast
1.5 to 2 hours for dry active yeast
oil spread on the pizza dough
11. After exactly 1 hour my dough had risen and doubled up to what you see below.

If you plan to make the pizza the next day, then wrap the dough tightly in a plastic wrap and keep in the fridge.

pizza dough has doubled and increased in volume
12. To make the pizza right away, portion and flatten the dough to a disk. In the below photo, you can see that the dough has leavened well, with stringy strands and many air pockets that will make a chewy crust.

close up photo of the pizza dough showing stringy dough with air pockets

              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2 Making pizza sauces</p>
                <div></div>
              </header>
              <p>
              1. You can choose to either chop the tomatoes (500 grams or 5 to 6 medium tomatoes) and use them fresh to make the sauce, or blanch them first and then add in a blender.

Blanching will reduce the cooking time, but is not necessary for making a delicious sauce.

chopped tomatoes in a blender jar

2. Crush the raw or blanched tomatoes in the blender to make a puree that is as smooth or chunky as you like for this pizza recipe.

consistency of crushed tomatoes shown with a steel spoon
3. Next, in a large sauce pan heat ¼ cup olive oil, and add 2 teaspoons minced garlic. Sauté and stir for some seconds to soften the garlic.

finely chopped garlic being fried in olive oil
3. Now add the tomato puree, and mix well.

crushed tomato puree added
4. Continue stirring and let the tomatoes cook for 5 minutes.

mixed and cooking tomato puree further
5. Add salt as needed. Mix and stir.

salt being added with a small steel spoon

6. Cover the pan with lid and simmer the tomato sauce on low heat for 20 minutes, stirring occasionally, until the tomatoes have softened.

If the sauce looks too thick you can add ¼ cup water. Then cover and continue to cook.

pizza sauce being cooked covered with a glass lid
7. Simmer until the tomatoes have completely cooked and the sauce has thickened.

pizza sauce has thickened
8. Stir in herbs and crushed black pepper.

For the pizza sauce seasonings in this recipe, you can add ¼ cup chopped basil (or 3 to 4 teaspoons dried basil), 2 to 3 teaspoons dried oregano (or 2 tablespoons fresh oregano) and fresh crushed black pepper as needed.

If you can I recommend using fresh herbs for the boldest Italian flavor.

herbs added in the sauce with black pepper being crushed with a wooden mill
8. Mix the sauce well and set aside.

You can allow the pizza sauce to completely cool and store in an airtight container for up to 10 to 15 days in the fridge, or 3 months in the freezer, and use anytime you’re ready to bake the pizzas.

herbs mixed with the salt
            </div>
             <div class="single-instruction">
              <header>
                <p>step 3  Assembling and baking</p>
                <div></div>
              </header>
              <p>
              1. First, preheat the oven to the highest temperature in your oven. In my oven it is 230 degrees Celsius (450 degrees Fahrenheit).

Grease a round metal baking pan with olive oil, and then lightly dust it with maize flour (cornmeal), semolina (rava or sooji) or flour.

round shallow baking tin greased with olive oil and dusted with semolina
2. Divide the pizza dough into equals parts to make either 4 small or 2 large or 3 medium size pizzas.

Wrap any dough you’re not using in plastic wrap and keep in the fridge for up to 3 days total.

To store in the freezer for up to 3 months, lightly coat the dough in olive oil and seal in an airtight freezer storage bag.

pizza dough cut and divided in four parts
3. Using clean, dry hands, take one portion of the divided dough and roll it into a neat round ball.

Place on a cutting board or countertop that’s been lightly coated with some flour, and sprinkle the dough with a light dusting of more flour.

a dough ball dusted with flour on a wooden board
4. Use a rolling pin to roll the dough ball into a large round or oval shape of about ⅛ to ¼ inch thickness.

Roll the dough from the center towards the outer edges for the most even pizza dough. You may have to dust the surface with flour as you work.

A pizza dough is always stretched with hands and not rolled. Stretching the dough with your hands needs practice.

For most home cooks, rolling the dough is much easier and so I have included this step. You could also flatten and press the dough with your fingers directly in the baking pan.


I do stretch or flatten the dough with my hands but not everyone is good at this. Thus rolling makes it easier.

If you are a master at stretching dough with your hands, then go ahead with this technique.

pizza crust rolled to a round circle
5. Once stretched to the desired size, gently place the pizza base in the greased baking pan. Be careful not to tear the dough, as it is very soft and stretchy.

pizza crust placed in the greased baking tin
6. At this point you can prick the dough with a fork if you want a thinner, crisper crust. This also helps in the crust not puffing up when baking.

However, you can leave the dough as-is for a fluffier, chewier veggie pizza crust.

pizza dough being pricked with a fork
7. Use a pastry brush to lightly brush the surface of the crust with olive oil.

pizza dough being brushed with olive oil with a white silicon pastry brush

8. Then, spread the tomato sauce on the pizza in a thin, even layer. Leave about an inch of dough around the outer edge free from sauce for a perfect pizza crust.

tomato sauce or pizza sauce spread on pizza dough
9. Top the sauce with a generous handful or two of shredded mozzarella cheese.

pizza crust topped with shredded mozzarella cheese
10. Place your choice of veggies on top of the cheese, making sure to spread the toppings evenly.

Keep reading for some of my suggestions for great veg toppings for this pizza recipe!

pizza topped with veggie cubes - green and red bell pepper, onion and steamed corn kernels
11. Here is another topping idea for you – a few mushrooms, onions, capsicum and green olives. When using mushrooms make sure they are fresh and top then sparingly. Many mushrooms will make the crust soggy.

For an all mushroom pizza, sauté or stir-fry sliced mushrooms till they are light golden before topping them.

pizza crust topped with sauce and veggies like onions, green bell pepper, sliced green olives and sliced button mushrooms

12. Next, add a light layer of grated parmesan cheese to finish the pizza.

pizza topped with grated parmesan cheese
13. Place the baking pan close to the lower heating element (or you can keep it even on the crumb tray of your OTG) to get the crispiest crust and perfectly molten, gooey melted cheese.

Bake the veggie pizza in the preheated oven for 10 to 15 minutes, until the cheese melts and the crust is golden.

Alternatively preheat a baking sheet in the oven for 20 minutes when you assemble the pizza in the baking pan.

Place the pan with the pizza on the hot baking sheet which will help in getting a crisp crust.

veg pizza being baked in the oven
14. Your perfect personalized veggie pizza is now ready to enjoy!


veg pizza with gooey melted cheese out from the oven
15. Wait for a minute or two and then serve the veggie pizza while still hot. Leftovers can be kept in a sealed container for up to 3 days in the fridge.

a triangular slice of veg pizza with the remain1ing pizza on a wooden pizza plate sprinkled with some dried herbs and red chilli flakes
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
             <div>
              <h4>ingredients</h4>
              <p>1. '3 to 3.25 cups all-purpose flour (or bread flour (unbleached),
              (375 grams)'
   </p>
              <p>2. ½ teaspoon sugar 1 cup warm water (or add as required) </p>
              <p>3. ¼ teaspoon salt </p>
              <p>4. 1 to 2 teaspoons olive oil (for brushing dough)',semolina
   (or cornmeal (makki ka atta) or all-purpose flour for sprinkling on pan) </p>
              <p>5. 5 to 6 medium tomatoes (- 500 grams) </p>
              <p>6. 2 teaspoons minced garlic (or 8 to 10 small to medium garlic cloves, 5 grams peeled garlic) </p>
              <p>7. ½ teaspoon turmeric powder </p>
              <p>8. ¼ cup olive oil'</p>
              <p>9. '2 teaspoons dried oregano (or 2 tablespoons fresh oregano)' </p>
  <p>10. freshly crushed black pepper (or ground black pepper, as required)'</p>
  salt (as required)
  <p>11. 1 onion (sliced or cut in cubes)'</p>
  <p>12. 1 capsicum ((bell pepper), sliced or cubed)</p>
  <p>13. 1 tomato (chopped or sliced - optional)'</p>
  <p>14. 10 to 12 pitted green olives (sliced, optional)',
   10 to 12 pitted black olives (sliced, optional)'</p>
  <p>15. ½ cup steamed sweet corn kernels (or canned corn kernels)'</p>
  <p>16. ⅓ cup sliced baby corn'</p>
  <p>17. ⅓ to ½ cup sautéed kale
  ⅓ cup sautéed spinach</p>
  <p>18. ⅓ to ½ cup cauliflower, fennel, brussel sprouts, cabbage 
  ((steamed, roasted or sautéed))
   ½ to 1 cup sautéed button mushrooms</p>
  <p>19. ⅓ to ½ cup broccoli (or french beans (blanched or sautéed))</p>
  <p>20. Italian seasoning (- as required) </p>
  <p>21. mozzarella cheese (or pizza cheese, as required) </p>
  <p>22. parmesan cheese ((vegetarian), as required) </p>
  <p>23. red chili flakes (- as required)</p>

            </div>
            </div>
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <!-- <footer>
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__col1">
            <div class="footer__logo">
               <img src="images\F2R-Logo.png" alt="Recommend Food">
              <img class="image-fotter" src="{{ url_for('static', filename='images\F2R-logo.svg')}}" alt="FoodToRecipe">
            </div>
            <p class="footer__desc">
                 Food TO Recipe
            </p>
            <div class="footer__socials">
              <h4 class="footer__socials__title">Follow us</h4>
              <ol class="footer__socials__list">
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-facebook">
                      <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-instagram">
                      <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                      <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                      <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-twitter">
                      <path
                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                    </svg>
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <div class="footer__col2">
            <h3 class="footer__text__title">
              Links
            </h3>
            <ol class="footer__text">
              <li>
                <a href="{{url_for('home')}}">Home</a>
              </li>
              <li>
                <a href="{{url_for('predict_datapoint')}}">Demo</a>
              </li>
              <li>
                <a href="{{url_for('about')}}">About Us</a>
              </li>
              <li>
                <a href="{{url_for('contact')}}">contact Us</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
            </ol>
          </div>
          <div class="footer__col3">
            <h3 class="footer__text__title">
              Support
            </h3>
            <ol class="footer__text">
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">Support Center</a>
              </li>
              <li>
                <a href="#">Feedback</a>
              </li>
            </ol>
          </div>
          <div class="footer__col4">
            <h3 class="footer__text__title">
              Contact
            </h3>
            <ol class="footer__text">
              <li>
                <a href="#">Mitesh Rege:</a>
              </li>
              <li>
              <a>phno:- +880230603</a>
              </li>
              <li>
                <a href="#">miteshrege4@gmail.com</a>
              </li>
              <li>
                <a href="#">Prajna Sheety:- </a>
              </li>
              <li>
                <a href="#">phno:-154478963</a>
              </li>
              <li>
                <a href="#">prajnashetty@gmail.com</a>
              </li>
              <li>
                <a href="#">Shivam Mishra:-</a>
              </li>
              <li>
                <a href="#">phno: +858263603</a>
              </li>
              <li>
                <a href="#">shivmishra12062002@gmail.com</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </footer>
    <div id="copyright">
      <div class="container">
        <p class="copyright__text">
          © copyright 2021  | All rights reserved
        </p>
      </div>
    </div> -->
  <!-- Footer ends -->
      
    <!-- <script src="./js/app.js"></script> -->
    <!-- static\scripts\js\app.js -->
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">FoodToRecipe</span> Built by
        <a href="https://www.linkedin.com/in/mitesh-rege/">Mitesh Rege</a>
      </p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/js/app.js')}}"></script>
  </body>
</html>
