<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samosa</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main1 css -->
    <link rel="stylesheet" href="/css/main1.css" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="back-nav">
    
      <div class="btn-class" >
        <a href="\recipes.html" class="btn btn-123"> 
          <h2>Back</h2>
        </a>
      </div>
    
  </nav>
  <!-- Nav ends  -->

    <main1 class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="\assets\recipes\samosa.jpg"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>samosa</h2>
            <p>
            My foolproof instructions will guarantee that your potatoes and peas samosa are hearty with a perfectly flaky, crispy crust.


I use a bit less water than some other recipes to make my dough, which creates an ever flakier and crave-able samosa crust. (This is also the trick I use to make samosa pie, which is a great non-fried alternative to traditional samosa.)

Plus, the filling in these Punjabi Samosa is just fantastic. It’s super easy to prepare in a stovetop pressure cooker or using an Instant Pot and in a pan on the stove. Green peas and potatoes are blended with classic Indian spices for a warm, satisfying stuffing that will keep you wanting more.

With a perfect crust and comforting filling, this recipe is a real winner! Give it a try and you’ll be amazed at how simple and fun it is to make samosa recipe from scratch at home.

Our personal favorite is and will always be a Punjabi samosa which is what this recipe is all about. The classic potato and green peas stuffing in this recipe is adapted from my cooking school.
 </p>
            <div class="recipe-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>prep time</h5>
                <p>30 min.</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>cook time</h5>
                <p>60 min.</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>serving</h5>
                <p>13 servings</p>
              </article>
            </div>
            <p class="recipe-tags">
              Category : <a href="tag-template.html">Snacks</a>
              <!-- <a href="tag-template.html">breakfast</a>
              <a href="tag-template.html">pancakes</a>
              <a href="tag-template.html">food</a> -->
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 1: Cook the Veggies</p>
                <div></div>
              </header>
              <p>


1. The first step to homemade samosa is to cook the potatoes and peas for the filling.
To cook the potatoes and peas in a stovetop pressure cooker: Place 3 medium-sized whole potatoes (300 to 450 grams) and 2 to 2.5 cups water in a 3 or 4 litre pressure cooker. On top of the potatoes carefully set a small trivet and pressure cooker-safe bowl with ½ cup green peas. Pressure cook for 5 to 6 whistles or 7 to 8 minutes on medium to medium-high flame.
If using an Instant Pot: Place 3 medium-sized whole potatoes in the steel insert of a 6 quart IP. Add 2 cups water. Place a trivet on top of the potatoes, and on top of the trivet set a bowl with ½ cup of green peas. Pressure cook on high for 20 to 25 minutes.
peas and potatoes in the Instant pot before being cooked
2. For the stovetop pressure cooker, remove the lid after all the pressure falls in the cooker. For the Instant Pot, do a quick pressure release after 5 to 7 minutes. Check with a knife or fork to see if the potatoes are cooked well.

The knife or fork should be able to slide through easily if the potatoes are cooked properly.

If the potatoes are undercooked, then cook them for a few more minutes using the pressure cook function. Once done, drain the potatoes and peas in a colander and set aside to cool.

cooked potatoes and peas

Roast and Powder Spices
3. Next, roast or toast the spices. This will help to release their flavors and should not be skipped!

To a small frying pan over low heat add the following spices:

½ inch cinnamon stick
1 clove, optional
1 green cardamom
3 black peppercorns
½ teaspoon cumin seeds
½ teaspoon fennel seeds
2 teaspoons coriander seeds
Heat the spices for just a few minutes until aromatic, being careful to not burn.

Indian spices in a skillet being roasted
4. Remove the spices from the heat and allow to cool completely. Then, put them in a spice grinder or small mixer-grinder jar.

toasted spices in a grinder
5. Grind the toasted spices to a semi-fine powder, and set aside.

Tip: If you are pressed for time to roast and grind the spices, then I have a solution for you.

Mix 2 teaspoons ground coriander (coriander powder), ½ teaspoon ground cumin (cumin powder), ½ teaspoon ground fennel (fennel powder) and ½ teaspoon garam masala powder in a small bowl.

Add this prepared spice mix at step 9 when the green peas and remain1ing ground spices are added.

semi-finely ground spices
Make Potato or Aloo Stuffing
6. Peel the skin off of the cooked potatoes, and chop them in ½ to 1 inch cubes.


cooked cubed potatoes to make Punjabi samosa filling
7. In a small skillet, heat 1 tablespoon oil. When the oil becomes medium hot then reduce the heat to low.

Crackle ½ teaspoon cumin seeds until fragrant. I used mustard oil as it really adds a punch in the stuffing. You can use neutral oil like sunflower oil, safflower oil, grapeseed oil or canola oil.

hot oil and cumin getting crackled in it in a frying pan
8. Keep the heat on low and add 1 teaspoon finely chopped or minced ginger and 2 teaspoons finely chopped green chillies. Sauté for a few seconds until the raw aroma of ginger goes away.

hot oil with cumin seeds, ginger, and green chillies getting fried
9. Now you can switch off the flame or keep flame to a low. Then add the cooked green peas, ½ teaspoon red chilli powder, 1 pinch of asafoetida (hing), the dry ground spice mix that we made and 1 to 2 teaspoons dry mango powder (amchur).

The mango powder is what gives the punjabi samosa filling its signature tangy flavor that balances so well with the savory, spicy flavors of the other stuffing ingredients.

green peas, spice powders added in the pan

10. Stir together and sauté for a minute. You can add less or more dry mango powder depending upon personal taste. I added 2 teaspoons as just 1 teaspoon was not quite enough sour flavor for me.

spices and peas mixed very well 
11. Next add potato cubes, salt as required and 1 tablespoon chopped coriander leaves (also known as cilantro) to the skillet.

potatoes, salt and coriander leaves added
12. Mix very well and sauté for a minute. Check the taste, and add more of the spices, salt or dry mango powder if needed. Cover and set the filling aside while you make the dough.

potatoes mixed and samosa stuffing is ready
Make Samosa Pastry Dough
13. In a large mixing bowl combine 2 cups all-purpose flour (250 grams), 1 teaspoon carom seeds, 1 teaspoon salt and 6 tablespoons ghee (50 grams).

flour, carom seeds, salt, ghee in a bowl 
14. With your fingers, mix the ingredients together until they make a breadcrumb-like texture that holds its shape when you press a portion of the mixture.


mixed to get a breadcrumb like texture that holds shape when you press it
15. Then, working just a bit at a time, add in 7 to 8 tablespoons water in parts and knead.

You can add 1 to 2 tablespoons extra water if needed if the dough looks floury or dry.

adding water to the flour mixture
16. Continue kneading to form a firm, tight dough. It should not be soft or sticky. Cover the samosa dough with a moist kitchen towel and let rest for 30 minutes.

In case if your dough becomes too moist or sticky then add a few tablespoons of flour. Mix and knead again to a firm dough.

dough ready for homemade samosa
Assemble and Shape
17. After the dough has rested, divide it into 6 to 7 even pieces. Take each piece and gently roll in your palms first to smooth and soften. Place it on your work surface or on the rolling board.

a dough ball flattened on a black surface

18. Then roll it with a rolling pin, being mindful to keep the thickness even at 1 mm and not too thin.

thin rolled dough on a black surface
19. Cut the with a knife or a pastry cutter, right through the center of the samosa pastry.

rolled dough being cut in half
20. Use a rolling pin to gently flatten the half moon shape to make even.

half of the cut dough being rolled lightly with a wooden rolling pin
21. Use a pastry brush to lightly brush the samosa dough with water around all of the edges.

brushing with water with a pastry brush on the sides of the cut dough
22. Next, fold to join the straight edged side together to form a cone, like shown in the photo below. Be sure to press the edges well so that they are sealed!

The samosa cone is now ready to be stuffed with the potato and pea filling.

cone formed

23. Carefully spoon and lightly pack the prepared potato and pea stuffing into the samosa cone. Make sure to not over or under-fill to prevent the samosa from bursting during the frying process.

samosa cone stuffed with savory potatoes & peas filling
24. Crimp and pinch the edges to close as shown in photo below. This helps the samosa to stand once made.

pressing and pinching an edge of the dough
25. Evenly press all of the edges, making sure there are no cracks in the dough. The edges should be sealed very well so that the stuffing does not come out while frying.

Prepare all the samosa this way as described above, and cover with a moist kitchen napkin to keep the samosa from drying out.

uncooked samosa shaped and kept on a silver tray
Deep Fry Samosa
The final step to making the best samosa is to fry them to a perfectly crisp golden brown.

Use any neutral flavored oil to deep fry – sunflower oil, canola oil, vegetable oil, safflower oil, grapeseed oil are some options.

26. Heat the oil for deep frying in a kadai or pan. Test the oil by adding a small piece of dough – it should come up quickly if the oil is hot enough for frying.

Once the oil becomes hot, gently slide 3 to 4 of the prepared stuffed punjabi samosa into the oil, and then immediately reduce the flame to low.

Do not overcrowd the pan to ensure each aloo samosa fries evenly!

samosa being fried in hot oil in a kadai (wok)

27. Fry them on low to medium-low heat, keeping an eye on them so they don’t burn.

samosa being fried in hot oil
28. When one side is pale golden, use tongs or a slotted spoon or skimmer to gently turn the samosa over and continue frying.

This way you will have to turn a couple of times for even cooking. Be gentle and careful while turning them as they are heavy and oil can spill out.

samosa turning crisp and golden in hot oil
29. Fry until each aloo samosa is crisp and golden. The oil will stop sizzling once the samosa are fried well. It will become nicely crisp and golden.

crispy fried samosa in a skimmer spoon 
30. Use a skimmer to carefully remove fried samosa from the oil, and place them on paper towels to remove extra oil.

Repeat the frying steps with the remain1ing batches of Aloo Samosa.

fried punjabi samosa placed on white kitchen paper towels
31. Serve Punjabi Samosa hot or warm or at room temperature with Coriander Chutney or Tamarind Chutney, or with a zesty tomato ketchup.


The pairing of Aloo Samosa with masala chai is irresistible and much loved in India.
          

              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>step 2 Make Samosa Pastry Dough</p>
                <div></div>
              </header>
              <p>
              13. In a large mixing bowl combine 2 cups all-purpose flour (250 grams), 1 teaspoon carom seeds, 1 teaspoon salt and 6 tablespoons ghee (50 grams).

flour, carom seeds, salt, ghee in a bowl 
14. With your fingers, mix the ingredients together until they make a breadcrumb-like texture that holds its shape when you press a portion of the mixture.


mixed to get a breadcrumb like texture that holds shape when you press it
15. Then, working just a bit at a time, add in 7 to 8 tablespoons water in parts and knead.

You can add 1 to 2 tablespoons extra water if needed if the dough looks floury or dry.

adding water to the flour mixture
16. Continue kneading to form a firm, tight dough. It should not be soft or sticky. Cover the samosa dough with a moist kitchen towel and let rest for 30 minutes.

In case if your dough becomes too moist or sticky then add a few tablespoons of flour. Mix and knead again to a firm dough.

dough ready for homemade samosa
Assemble and Shape
17. After the dough has rested, divide it into 6 to 7 even pieces. Take each piece and gently roll in your palms first to smooth and soften. Place it on your work surface or on the rolling board.

a dough ball flattened on a black surface

18. Then roll it with a rolling pin, being mindful to keep the thickness even at 1 mm and not too thin.

thin rolled dough on a black surface
19. Cut the with a knife or a pastry cutter, right through the center of the samosa pastry.

rolled dough being cut in half
20. Use a rolling pin to gently flatten the half moon shape to make even.

half of the cut dough being rolled lightly with a wooden rolling pin
21. Use a pastry brush to lightly brush the samosa dough with water around all of the edges.

brushing with water with a pastry brush on the sides of the cut dough
22. Next, fold to join the straight edged side together to form a cone, like shown in the photo below. Be sure to press the edges well so that they are sealed!

The samosa cone is now ready to be stuffed with the potato and pea filling.

cone formed

23. Carefully spoon and lightly pack the prepared potato and pea stuffing into the samosa cone. Make sure to not over or under-fill to prevent the samosa from bursting during the frying process.

samosa cone stuffed with savory potatoes & peas filling
24. Crimp and pinch the edges to close as shown in photo below. This helps the samosa to stand once made.

pressing and pinching an edge of the dough
25. Evenly press all of the edges, making sure there are no cracks in the dough. The edges should be sealed very well so that the stuffing does not come out while frying.

Prepare all the samosa this way as described above, and cover with a moist kitchen napkin to keep the samosa from drying out.

uncooked samosa shaped and kept on a silver tray
              
            </div>
             <div class="single-instruction">
              <header>
                <p>step 3  Deep Fry Samosa</p>
                <div></div>
              </header>
              <p>
              The final step to making the best samosa is to fry them to a perfectly crisp golden brown.

Use any neutral flavored oil to deep fry – sunflower oil, canola oil, vegetable oil, safflower oil, grapeseed oil are some options.

26. Heat the oil for deep frying in a kadai or pan. Test the oil by adding a small piece of dough – it should come up quickly if the oil is hot enough for frying.

Once the oil becomes hot, gently slide 3 to 4 of the prepared stuffed punjabi samosa into the oil, and then immediately reduce the flame to low.

Do not overcrowd the pan to ensure each aloo samosa fries evenly!

samosa being fried in hot oil in a kadai (wok)

27. Fry them on low to medium-low heat, keeping an eye on them so they don’t burn.

samosa being fried in hot oil
28. When one side is pale golden, use tongs or a slotted spoon or skimmer to gently turn the samosa over and continue frying.

This way you will have to turn a couple of times for even cooking. Be gentle and careful while turning them as they are heavy and oil can spill out.

samosa turning crisp and golden in hot oil
29. Fry until each aloo samosa is crisp and golden. The oil will stop sizzling once the samosa are fried well. It will become nicely crisp and golden.

crispy fried samosa in a skimmer spoon 
30. Use a skimmer to carefully remove fried samosa from the oil, and place them on paper towels to remove extra oil.

Repeat the frying steps with the remain1ing batches of Aloo Samosa.

fried punjabi samosa placed on white kitchen paper towels
31. Serve Punjabi Samosa hot or warm or at room temperature with Coriander Chutney or Tamarind Chutney, or with a zesty tomato ketchup.


The pairing of Aloo Samosa with masala chai is irresistible and much loved in India.
        
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
             <div>
              <h4>ingredients</h4>
              <p>1. 2 cups all-purpose flour ((maida), 250 grams)'</p>
  <p>2. 1 teaspoon carom seeds</p>
  <p>3. 1 teaspoon salt (or add as required)</p>
  <p>3. 6 tablespoons Ghee ((clarified butter), 50 grams)</p>
  <p>4. 7 to 8 tablespoons water (or add as required)</p>
  <p>5. 3 potatoes (medium-sized, 300 to 350 grams or 3 cups chopped boiled potatoes)</p>
  <p>6. ½ cup green peas (- 180 grams, fresh - can use frozen peas )</p>
  <p>7. 2 cups water (- for steaming )</p>
  <p>8. 1 tablespoon oil (
    - I used mustard oil. sunflower, canola, grapeseed oil can be used)</p>
  <p>9. ½ teaspoon cumin seeds</p>
  <p>10. 1 teaspoon ginger (- finely chopped, or 1 inch peeled ginger)'</p>
  <p>11. 2 teaspoons green chillies 
  (- finely chopped or 2 tsp finely chopped serrano peppers or 1 to 2 green chillies)</p>
  <p>12. ½ teaspoon red chili powder (or cayenne pepper)</p>
  <p>13. 1 pinch asafoetida ((hing) - optional)</p>
  <p>14. 1 to 2 teaspoons dry mango powder ((amchur))</p>
  <p>15.salt (as required)',
  '1 tablespoon coriander leaves ((cilantro), chopped)',
  'oil (for deep frying - as required, any neutral flavored oil )',
  '½ inch cinnamon',
  '1 clove (- optional)'</p>
  <p>16. 3 black peppercorns',
  '1 green cardamom',
  '½ teaspoon cumin seeds'</p>
  <p>17. ½ teaspoon fennel seeds',
  '2 teaspoons coriander seeds'
   </p>
              <p>2. ½ teaspoon sugar 1 cup warm water (or add as required) </p>
              <p>3. ¼ teaspoon salt </p>
              <p>4. 1 to 2 teaspoons olive oil (for brushing dough)',semolina
   (or cornmeal (makki ka atta) or all-purpose flour for sprinkling on pan) </p>
              <p>5. 5 to 6 medium tomatoes (- 500 grams) </p>
              <p>6. 2 teaspoons minced garlic (or 8 to 10 small to medium garlic cloves, 5 grams peeled garlic) </p>
              <p>7. ½ teaspoon turmeric powder </p>
              <p>8. ¼ cup olive oil'</p>
              <p>9. '2 teaspoons dried oregano (or 2 tablespoons fresh oregano)' </p>
  <p>10. freshly crushed black pepper (or ground black pepper, as required)'</p>
  salt (as required)
  <p>11. 1 onion (sliced or cut in cubes)'</p>
  <p>12. 1 capsicum ((bell pepper), sliced or cubed)</p>
  <p>13. 1 tomato (chopped or sliced - optional)'</p>
  <p>14. 10 to 12 pitted green olives (sliced, optional)',
   10 to 12 pitted black olives (sliced, optional)'</p>
  <p>15. ½ cup steamed sweet corn kernels (or canned corn kernels)'</p>
  <p>16. ⅓ cup sliced baby corn'</p>
  <p>17. ⅓ to ½ cup sautéed kale
  ⅓ cup sautéed spinach</p>
  <p>18. ⅓ to ½ cup cauliflower, fennel, brussel sprouts, cabbage 
  ((steamed, roasted or sautéed))
   ½ to 1 cup sautéed button mushrooms</p>
  <p>19. ⅓ to ½ cup broccoli (or french beans (blanched or sautéed))</p>
  <p>20. Italian seasoning (- as required) </p>
  <p>21. mozzarella cheese (or pizza cheese, as required) </p>
  <p>22. parmesan cheese ((vegetarian), as required) </p>
  <p>23. red chili flakes (- as required)</p>

            </div>
            </div>
          </article>
        </section>
      </div>
    </main1>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">SimplyRecipes</span> Built by
        <a href="https://www.johnsmilga.com/">Coding Addict</a>
      </p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
